{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

<div class="max-w-lg mx-auto bg-white shadow rounded-xl p-8">

    <h1 class="text-3xl font-bold mb-6">
        Change Password
    </h1>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button
            type="submit"
            class="mt-4 bg-blue-600 text-white px-6 py-3 rounded-lg">

            Update Password

        </button>

    </form>

</div>

{% endblock %}