<aside class="w-64 bg-white shadow-md min-h-screen">

    <div class="p-6">

        <h2 class="text-xl font-bold mb-6">
            Menu
        </h2>

        <ul class="space-y-4">

            <li>
                <a href="{% url 'dashboard' %}" class="hover:text-blue-600">
                    Dashboard
                </a>
            </li>

            <li>
                <a href="{% url 'doctor_list' %}" class="hover:text-blue-600">
                    Doctors
                </a>
            </li>

            <li>
                <a href="{% url 'book_appointment' %}" class="hover:text-blue-600">
                    Book Appointment
                </a>
            </li>

            <li>
                <a href="{% url 'appointment' %}" class="hover:text-blue-600">
                    My Appointments
                </a>
            </li>

            <li>
                <a href="{% url 'patient_profile' %}" class="hover:text-blue-600">
                    Profile
                </a>
            </li>

            <li>
                <a href="{% url 'report_list' %}" class="hover:text-blue-600">
                    Lab Reports
                </a>
            </li>

            <li>
                <a href="{% url 'billing' %}" class="hover:text-blue-600">
                    Billing
                </a>
            </li>

            <li>
                <a href="{% url 'medicine_list' %}" class="hover:text-blue-600">
                    Pharmacy
                </a>
            </li>

        </ul>

    </div>

</aside>